@import "https://fonts.googleapis.com/css?family=Roboto";
* {
  box-sizing: border-box; }

body {
  background-color: #101c2a; }

a {
  width: 150px;
  height: 40px;
  display: block;
  position: relative;
  z-index: 1;
  padding: 10px 0px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
  font-family: 'Roboto', monospace;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  transition: color 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }
  a::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    height: 2px;
    width: 0%;
    transition: width 0.5s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  a:hover {
    color: #fff; }
    a:hover::after {
      width: 100%;
      background-color: #fff; }

.nav {
  width: 100vw;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
